body{
  overflow-x: hidden;
  overflow-y: hidden;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  display: flex;
  justify-content:flex-end;
}

ul > li{
  list-style-type: none;
  margin-right: 0.5rem;
}

ul li > a{
  text-decoration: none;
}

.img{
  width: 70px;
}
.main-div{
  height: 100vh;
  border: 1px solid red;
}
.footer{
  position: absolute;
  color: #fff;
  left: 40%;
  font-size: larger;
}

.footText{
  width: 100%;
  background-color: teal;
  position: absolute;
  bottom: 0px;
  padding: 2rem;
  
  
}